<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a href="{% url 'signup' %}">Sign Up</a>
                        <a href="{% url 'login' %}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </thead>
            <tbody>
                {% for object in receipt %}
                        <tr>
                            <td>{{ object.vendor }}</td>
                            <td>{{ object.total }}</td>
                            <td>{{ object.tax }}</td>
                            <td>{{ object.date|date:"m/j/y" }}</td>
                            <td>{{ object.category }}</td>
                            <td>{{ object.account }}</td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
